<form action = "/square_root/results">
  <div><label for="giraffe">Enter a number</label></div>
  <div><input id="giraffe" type="text" placeholder="What number do you want to square root?" name="elephant"></div>

  <button>Calculate square root</button>
</form>
